body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(1, 1, 26, 0.942), rgb(3, 171, 11));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact-info{
    text-align: center;
    background-color: rgba(1, 1, 30, 0.822);;
     padding:50px;
     border-radius: 20px;
     box-shadow: 2px 3px 10px gold;
}
.info{
    background-image: linear-gradient(120deg,blue,red,black,red);
    background-size: 400% 400%;
     animation: gradientFlow 15s ease infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 12px;
    border-radius: 10px;
    box-shadow: 2px 3px 15px red;
    margin-bottom: 20px;
}
@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.info h1{
    color: rgb(2, 255, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 2px 4px 10px rgb(0, 29, 0);
    margin-bottom: 2em;
}

.info input{
    margin-bottom:1em;
    text-decoration: none;
    font-family: ae;
    font-size: 18px;
    font-weight: 900;
    border: none;
    border-radius: 20px;
    height: 2em;
    width: 300px;
    box-shadow: 1px 2px 20px gold;
}

button{
    background-color: rgb(11, 219, 11);
    border: none;
    margin-top: 6px;
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 30px;
    width: 10em;
    box-shadow: 2px 5px 30px whitesmoke;
    transition: 0.2s ease-in-out;

}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.feedback{
    color: black;
    margin: 30p;
}